@{
  Layout = "_Layout";
}

@model Registrar.Models.Student;

<h2>Create a new Student Record</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.FirstName, "First Name:")
  @Html.TextBoxFor(model => model.FirstName)
  @Html.LabelFor(model => model.LastName, "Last Name:")
  @Html.TextBoxFor(model => model.LastName)
  @Html.LabelFor(model => model.EnrollmentDate, "Enrollment Date:")
  @Html.TextBoxFor(model => model.EnrollmentDate, "{0:yyyy-MM-dd}", new {@type = "date"})
  <input type="submit" value="Create Record" />
}

<p>@Html.ActionLink("Return to Student Index", "Index")</p>